/* ============ Loader ============ */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s;
}

#preloader .loader {
    width: 50px;
    height: 50px;
    border: 8px solid #DDF498;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-out {
    opacity: 0;
    visibility: hidden;
}

body {
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

body.loaded {
    opacity: 1;
}

/* ============ Fonts ============ */

@font-face {
    font-family: 'AvenueMonoReg';
    src: url('../fonts/AvenueMono.woff2') format('woff2'),
         url('../fonts/AvenueMono.woff') format('woff'),
         url('../fonts/AvenueMono.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenueMonoMed';
    src: url('../fonts/avenuemono-medium.woff2') format('woff2'),
         url('../fonts/avenuemono-medium.woff') format('woff'),
         url('../fonts/avenuemono-medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

/* ============ Variables ============ */

:root {
    --clr-black:     #333333;
    --clr-white:     #FFFFFF;   
    --clr-orange:    #fd631a;
    --clr-midgray:   #9D9A94;
}

/* ============ Base Styles ============ */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'AvenueMonoReg', sans-serif;
    color: var(--clr-white);
    background-color: black;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    font-weight: normal !important;
}

h1 {
    font-weight: normal !important;
}

h2 {
    font-family: 'Geist', sans-serif;
    font-weight: normal !important;
    font-size: 2.5rem;
    line-height: 3rem;
}

a {
    color: inherit;
    text-decoration: none;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

button:focus {
    outline: none;
}

@supports (-webkit-touch-callout: none) {
    button {
        appearance: none;
        -webkit-appearance: none;
    }
}

.icon {
    fill: currentColor;
}

.icon.black {
    fill: var(--clr-black);
}

.icon.search {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: .125rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.icon.small {
    width: 1rem;
    height: 1rem;
}

.icon.mid {
    width: 3rem;
    height: 3rem;
}

.icon.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
}

.icon.big {
    width: 6rem;
    height: 6rem;
}

.img-radius {
    border-radius: 1rem;
}

.img-radius.s-radius {
    border-radius: .5rem;
}

.img-radius-inside {
    border-radius: 4rem;
}

.blured-bg {
    backdrop-filter: blur(4px);
}

embla {
    overflow: hidden;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    scroll-padding-left: 4rem;
    padding-left: 4rem;
    scroll-padding-right: 4rem;
    padding-right: 4rem;
}

.embla__viewport.simple-slider {
    scroll-padding-left: 0;
    padding-left: 0;
    scroll-padding-right: 0;
    padding-right: 0;
}

.embla__container {
    display: flex;
    gap: 1.5rem;
}

.embla__viewport,
.embla__container,
.embla__slide {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
}

.txt-btn, .txt-btn * {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
}

.hidden {
    display: none;
}

/* ============ Font Styles ============ */

.text-end {
    text-align: end;
}

.text-medium {
    font-family: 'AvenueMonoMed', sans-serif;
    font-weight: normal;
}

.font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-regular {
    font-weight: 400 !important;
}

.text-white {
    color: var(--clr-white);
}

.text-black {
    color: var(--clr-black);
}

.text-gray {
    color: var(--clr-gray);
}

.text-lightgray {
    color: var(--clr-lightGray);
}

.text-blue {
    color: var(--clr-blue);
}

.text-lime {
    color: var(--clr-lime);
}

.text-uppers {
    text-transform: uppercase;
}

.text-centered {
    text-align: center;
}

.text-items-center {
    display: inline-flex;
    align-items: center;
}

.text-gap-xs {
    gap: .25rem;
}

.text-gap-s {
    gap: 1rem;
}

.text-m-wdth {
    width: 48rem;
}

.text-xxxs {
    font-size: .75rem;
    line-height: 1rem;
}

.text-xxs {
    font-size: .875rem;
    line-height: 1rem;
}

.text-xs {
    font-size: 1rem;
    line-height: 1.25rem;
}

.text-xs.indicator {
    line-height: 3rem;
}

.text-s {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.text-s.indicator {
    line-height: 3rem;
}

.text-s-normal {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-m-normal {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.text-m-xnormal {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.text-xm {
    font-size: 1.75rem;
    line-height: 2rem;
}

.text-xm.margin-s {
    margin: 1rem 0;
}

.text-m {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-m-alt {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.text-l {
    font-size: 3rem;
    line-height: 3.5rem;
}

.text-l.alt {
    font-size: 2.75rem;
    line-height: 3rem;
}

.text-xl {
    font-size: 3.5rem;
    line-height: 4rem;
}

.text-xl.low {
    line-height: 2.5rem;
}

.text-xl-alt {
    font-size: 3.25rem;
    line-height: 4rem;
}

.text-xl-alt-b {
    font-size: 3.75rem;
    line-height: 4rem;
}

.text-xxl {
    font-size: 4rem;
    line-height: 4.5rem;
}

.text-xxxl {
    font-size: 5rem;
    line-height: 4.5rem;
}

.text-xxxl.alt {
    font-size: 4.5rem;
    line-height: 4rem;
}

.text-xxxxl {
    font-size: 6.5rem;
    line-height: 6.5rem;
    padding-top: .75rem;
}

.text-5xl {
    font-size: 7.5rem;
    line-height: 6rem;
}

.text-5xl.z-i-3 {
    z-index: 3;
}

.text-under {
    text-decoration: underline;
}

.text-100-wdth {
    font-size: 100%;
}

.js-fit-text {
    display: block;
    width: 100%;
    white-space: nowrap;
}

/* ============ Widths ============ */

.wdt-90 {
    width: 90%;
}

.wdt-s {
    width: 27rem;
}

.wdt-80 {
    width: 80%;
}

.wdt-50 {
    width: 50%;
}

/* ============ Media Queries ============ */

@media (max-width: 1280px) {
    .text-xm {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .text-xxl {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .text-xxxxl {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (max-width: 1080px) {
    .text-xxl {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .text-xxxxl {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

@media (max-width: 960px) {
    .text-xxl {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 768px) {
    .text-s {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    .text-m {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .text-xm.mob {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .text-l {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .text-l.mob {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .text-xl {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .text-xl.mob {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .text-xl.low {
        line-height: 2.5rem;
    }
    .text-xl-alt {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .text-xl-alt.mob {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .text-xxl {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .text-xxxl.mob {
        font-size: 3.5rem;
    }
    .wdt-90.mob {
        width: 100%;
    }
    .wdt-80.mob {
        width: 100%;
    }
}